*{
    margin: 0;
}

.big{
    width: 100%;
    height: 700px;
    background-image: url(./images/115\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.two{
    display: flex;
    gap: 40px;
    color: gray;
}

.but{
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #8BAC3E;
    color: white;
    border: none;
}
.three{
    display: flex;
    gap: 40px;
    align-items: center;
}
.lr{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}
.left{
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 100px;
    h1{
        color: #8BAC3E;
        font-size: 60px;
    }
    p{
        color: gray;
    }
}
.one1{
    width: 200px;
    height: 160px;
    border-radius: 20px;
    background: #F0FEEB;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 20px;
}
.one3{
    width: 200px;
    height: 160px;
    border-radius: 20px;
    background: #EAEEFA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 20px;
}
.one2{
    width: 200px;
    height: 160px;
    border-radius: 20px;
    background: rgba(203, 208, 255, 0.492);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 20px;
}
.one4{
    width: 200px;
    height: 160px;
    border-radius: 20px;
    background: #F9EEF3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 20px;
}
.one5{
    width: 200px;
    height: 160px;
    border-radius: 20px;
    background: #F3F7D9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 20px;
}
.very{
    display: flex;
    margin: auto;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 40px;
}
.next{
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    h1{
        font-size: 40px;
        margin-left: 50px;
    }
}


@media (max-width:510px) {
    .two{
        display: none;
    }
    .three p{
        display: none;
    }
    .lr{
        display: block;
    }
    .desert{
        display: block;
        margin: auto;
        width: 80%;
    }
    .left{
        width: 90%;
        margin: auto;
        margin-top: 80px;
        h1{
            font-size: 50px;
        }
    }
    .big{
        height: 700px;
    }
    .very{
        width: 100%;
    overflow-x: scroll;
    }
}