* {
  margin: 0;
}

.big {
  width: 100%;
  height: 700px;
  background-image: url(./images/115\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.two {
  display: flex;
  gap: 40px;
  color: gray;
}

.but {
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #8BAC3E;
  color: white;
  border: none;
}

.three {
  display: flex;
  gap: 40px;
  align-items: center;
}

.lr {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.left {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 100px;
}
.left h1 {
  color: #8BAC3E;
  font-size: 60px;
}
.left p {
  color: gray;
}

.one1 {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: #F0FEEB;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 20px;
}

.one3 {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: #EAEEFA;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 20px;
}

.one2 {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: #EAEEFA;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 20px;
}

.one4 {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: #F9EEF3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 20px;
}

.one5 {
  width: 200px;
  height: 160px;
  border-radius: 20px;
  background: #F3F7D9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 20px;
}

.very {
  display: flex;
  margin: auto;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 40px;
}

.next {
  width: 100%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}
.next h1 {
  font-size: 40px;
  margin-left: 50px;
}

.one8 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #E6F3F5;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one8 p {
  color: #8BAC3E;
}

.one9 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #EAEEFA;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one9 p {
  color: #8BAC3E;
}

.one10 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #F9EEF3;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one10 p {
  color: #8BAC3E;
}

.one11 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #F0FEEB;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one11 p {
  color: #8BAC3E;
}

.one12 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #F3F7D9;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one12 p {
  color: #8BAC3E;
}

.one13 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #F3F7D9;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one13 p {
  color: #8BAC3E;
}

.one14 {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  background: #EAEEFA;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
.one14 p {
  color: #8BAC3E;
}

.sc {
  width: 100px;
  margin-top: 10px;
}

.bro {
  max-width: 1400px;
  height: 1000px;
  margin: auto;
}

.four {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.four1 {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

@media (max-width: 510px) {
  .two {
    display: none;
  }
  .three p {
    display: none;
  }
  .lr {
    display: block;
  }
  .desert {
    display: block;
    margin: auto;
    width: 80%;
  }
  .left {
    width: 90%;
    margin: auto;
    margin-top: 80px;
  }
  .left h1 {
    font-size: 50px;
  }
  .big {
    height: 700px;
  }
  .very {
    width: 100%;
    overflow-x: scroll;
  }
  .four {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .four1 {
    display: none;
  }
  .bro {
    width: 100%;
    height: 1600px;
  }
  .one8 {
    margin: auto;
  }
  .one8 {
    margin: auto;
  }
  .one9 {
    margin: auto;
  }
  .one10 {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */